<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Webstie cá nhân</title>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css" />
        <link href="/Content/fonts/fontface.css" rel="stylesheet" type="text/css" />
        <link href="/Content/fonts/UTM-Penumbra/fonts.css" rel="stylesheet" type="text/css" />
        <link href="/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/Content/css/awesome-bootstrap-checkbox.css" rel="stylesheet" />
        <link href="/Content/DigitvisionSkins/MyName/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/Content/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
        <link href="/Content/lib/jQuery/PluginStack/owl-carousel-2-0/owl.carousel.css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/PluginStack/owl-carousel-2-0/animate.css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/PluginStack/flex_slider/flexslider.css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/PluginStack/jquery-share/jquery.share.css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/PluginStack/swipebox/swipebox.css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/PluginStack/menu-mobile/jquery.mmenu.all.css" type="text/css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/PluginStack/popup_fancybox3/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <link href="/Content/lib/jQuery/PluginStack/popup_fancybox3/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css" />
        <link href="/Content/DigitvisionSkins/MyName/custom.css" rel="stylesheet" />
        <link href="/Content/lib/jQuery/Plugins/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />
        <meta name="author" content="Phan Phúc Thành" />
        <meta name="copyright" content="Copyright (c) 2016 by DigiSoft - Phan Phúc Thành" />
        <meta name="generator" content="DigiVision Portal Framework 3.0" />
        <meta name="digi-content-type" content="pages" />
        <meta name="digi-content-dataid" content="2716" />
        <meta name="Language" content="vi" />
        <meta name="robots" content="index,follow" />
        <link rel="canonical" href="http://manhlote.somee.com/" />
        <meta property="og:title" itemprop="name" content="Manhlote" />
        <meta property="og:description" itemprop="description" content="Lê Tiến Mạnh" />
        <meta property="og:url" itemprop="url" content="http://manhlote.somee.com/" />
        <meta property="og:type" content="website" />
        <link rel="icon" href='/favicon.ico' type="image/x-icon" />
        <link rel="shortcut icon" href='/favicon.ico' type="image/x-icon" />
        <link rel='alternate' type='application/rss+xml' href='http://www.phanphucthanh.vn/Rss.ashx?pageid=2716' />
        <link href="/Content/Template/MyName/CaNhan.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Temp_List_SuKien.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Nhanvat_slide.css" rel="stylesheet" type="text/css" />
        <link href="/Content/lib/jQuery/PluginStack/flex_slider/flexslider.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Temp_Tin_Home.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Temp_Media_Home.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Temp_Shop.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/dichvu.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Temp_hoatdong.css" rel="stylesheet" type="text/css" />
        <link href="/Content/Template/MyName/Temp_Banner_NCC.css" rel="stylesheet" type="text/css" />
        <title>Tên web cá nhân</title>
        <meta name="description" content="Lê Tiến Mạnh" />
        <meta name="keywords" content="Lê Tien Mạnh, Lê Tiến Mạnh,Lê Tiên Manh" />
    </head>
    <body>
        <header>
            
        </header>
        <div id="body">
            @RenderBody()
        </div>
        <footer>
            <section class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="hotline_footer col-md-3 col-lg-3">
                            <div class="webpart webpart_30826" id="webpart_30826">
                                <div class="webpartbodycontrol webpartbodycontrol_30826">
                                    <div id="Home1_ctl69_loadcontent" class="htmltext">
                                        <div class="warpformobile">
                                            <p>01656302647</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="newletter_footer col-md-5 col-lg-5">
                            <div class="webpart webpart_30827" id="webpart_30827">
                                <div class="webpartbodycontrol webpartbodycontrol_30827">
                                    <div class="newsletterform">
                                        <div id="status" class="status"></div>
                                        <span class="labemail fa fa-envelope-o"></span>
                                        <!--[if IE]><input type="text" style="display: none;" disabled="disabled" size="1" /><![endif]-->
                                        <input name="email" type="text" id="email" class="email" value="Enter Email for Updates">
                                        <input type="button" id="emailsubmit" class="cssbutton" value="Signup" name="emailsubmit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mangxahoi_footer col-md-4 col-lg-4">
                            <div class="webpart webpart_30828" id="webpart_30828">
                                <div class="webpartbodycontrol webpartbodycontrol_30828">
                                    <div id="Home1_ctl75_loadcontent" class="htmltext">
                                        <div class="warpformobile">
                                            <div class="link  facebook">
                                                <a href="https://www.facebook.com/letienmanh2008" target="_blank">
                                                    <img alt="" src="/FileManager/MyName/Icon/icon_social_facebook.png" style="width: 36px; height: 36px;">
                                                    Facebook
                                                </a>
                                            </div>
                                            <div class="link  twitter">
                                                <a href="https://twitter.com/" target="_blank">
                                                    <img alt="" src="/FileManager/MyName/Icon/icon_social_twitter.png" style="width: 36px; height: 36px;">
                                                Twitter</a>
                                            </div>
                                            <div class="link  youtube">
                                                <a href="https://www.youtube.com/user/manhlequan2008" target="_blank">
                                                    <img alt="" src="/FileManager/MyName/Icon/icon_social_youtube.png" style="width: 36px; height: 36px;">
                                                    YouTube
                                                </a>
                                            </div>
                                            <div class="link  instagram">
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img alt="" src="/FileManager/MyName/Icon/icon_social_instagram.png" style="width: 36px; height: 36px;">
                                                    Instagram</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <div class="webpart webpart_30829" id="webpart_30829">
                                <div class="webpartbodycontrol webpartbodycontrol_30829">
                                    <div id="Home1_ctl78_loadcontent" class="htmltext">
                                        <div class="warpformobile">
                                            <p><img alt="" src="/FileManager/MyName/Icon/personname.png" style="width: 358px; height: 127px;"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <div class="webpart webpart_30830" id="webpart_30830">
                                <div class="webpartbodycontrol webpartbodycontrol_30830">
                                    <div id="Home1_ctl81_loadcontent" class="htmltext">
                                        <div class="warpformobile">
                                            <p>© Letienmanh. All Rights Reserved<br>
                                            Nam Tu Liem - My Dinh - Hanoi - Vietnam<br>
                                            Tel: 01656302647 &nbsp; &nbsp; Email : letienmanh2008@gmail.com<br>
                                            Website : manhlote.somee.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
    
</html>
<script type="text/javascript" src="/Content/lib/jQuery/Core/jquery.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/Core/detectmobilebrowsers.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/owl-carousel-2-0/owl.carousel.min.js"></script>
<script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Content/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/menu-mobile/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/popup_fancybox3/jquery.fancybox.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/popup_fancybox3/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/jquery_imagefit/jquery.imagefit.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/flex_slider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/ScrollToFixed/jquery-scrollto.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/flex_slider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/Scroll_css3/jquery.smoove.min.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/zoomie/jquery.zoomie.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/swipebox/swipebox.js"></script>
<script type="text/javascript" src="/Content/lib/jQuery/PluginStack/jquery-share/jquery.share.js"></script>
<script type="text/javascript" src="/Content/DigitvisionSkins/MyName/custom.js"></script>
<script type='text/javascript'>var clientbrowser = 'Chrome'; var clientopera = 'WinNT'; var pageid = '2716'; var pageititle = 'Trang cá nhân'; var langid = 'vi-VN'; var sessionid = 'neltqqjtejzinnsj5xsnpcwj';</script>
<script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['ajaxform'];
    if (!theForm) {
        theForm = document.ajaxform;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    //]]></script>
<script type="text/javascript">
        $(function () {
            var gotourl = '';
            var template = '';
            var subject = '';
            var msgininputtext = 'Enter Email for Updates';
            var msgIninputtextname = 'Tên của bạn';
            var enablealertbox = 'True';
            var email2send = '';
            inputforcus('email');
            inputforcus('txtname');
            $("#emailsubmit").click(function () {
                $("#status").html('');
                var email = $("#email").val();
                if (!chkEmail(email)) {
                    alert('Bạn nhập sai định dạng Email (yourname@company.com)')
                    return false;
                }
                var name = '';
                try {
                    name = $("#txtname").val();
                } catch (e) { }
                if (name == 'undefined') {
                    name = '';
                }
                $.ajax({
                    type: "GET",
                    url: "/WebPart/Marketing/AjaxMarketingBackend.ashx?email=" + email + "&name=" + name + "&status=0&template=" + template + "&subject=" + subject + "&email2send=" + email2send + "",
                    success: function (s) {
                        var title = "Message has been sent to the administrator, we will contact you within 48h. Many thanks ";
                        if (enablealertbox == 'True') {
                            alert(title);
                        }
                        else {
                            $("#status").html(title);
                        }
                        $("#email").val('');
                        if (gotourl != '') {
                            window.location.href = gotourl + "?t=ts";
                        }
                    }
                });
            })
            function inputforcus(obj) {
                var _obj = $("#" + obj + "");
                if (!_obj) {
                    return;
                }
                $("#" + obj + "").focus(function () {
                    if (this.value == this.defaultValue) {
                        this.value = '';
                    }
                    if (this.value != this.defaultValue) {
                        this.select();
                    }
                });
                $("#" + obj + "").blur(function () {
                    if ($.trim(this.value) == '') {
                        this.value = (this.defaultValue ? this.defaultValue : '');
                    }
                });
            }
            @*function chkEmail(str) {
                var at = "@";
                var dot = ".";
                var lat = str.indexOf(at);
                var lstr = str.length;
                var ldot = str.indexOf(dot);
                if (str.indexOf(at) == -1) {
                    return false;
                }
                if (str.indexOf(at) == -1 || str.indexOf(at) == 0 || str.indexOf(at) == lstr) {
                    return false;
                }
                if (str.indexOf(dot) == -1 || str.indexOf(dot) == 0 || str.indexOf(dot) == lstr) {
                    return false;
                }
                if (str.indexOf(at, (lat + 1)) != -1) {
                    return false;
                }
                if (str.substring(lat - 1, lat) == dot || str.substring(lat + 1, lat + 2) == dot) {
                    return false;
                }
                if (str.indexOf(dot, (lat + 2)) == -1) {
                    return false;
                }
                if (str.indexOf(" ") != -1) {
                    return false;
                }
                return true;
            }*@
        })
</script>
<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.Avatar_default').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.Avatar_default').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript">
    $(window).load(function () {
        $('.Sukien_khoahoc .avata').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $(".bannerfade").flexslider({
            animation: "slide",
            slideshowSpeed: 6000,
            animationSpeed: 1500,
            controlNav: true,
        });
    });
    $(window).load(function () {
        $('.Avatar_banner').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript">
    $(window).load(function () {
        $('.List_Avarta_Topview').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript">
    $(window).load(function () {
        $('.List_Avarta_Topview').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript" data-name="products-tab">
    $('.item-quick-view').fancybox({
        fitToView: false,
        autoSize: false,
        scrolling: 'no',
        closeClick: false,
        iframe: { 'scrolling': 'no' },
        height: 650
    });
    $(window).load(function () {
        $('.Photo_media .Ava_media').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript">
    $(window).load(function () {
        $('.Lis_product .avata').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.Dịch_vu .Avatar').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript">
    $(window).load(function () {
        $('.Lis_hoatdong .avata').imagefit({
            mode: 'outside',
            force: 'true',
            halign: 'center',
            valign: 'middle'
        });
    });</script>
<script type="text/javascript" charset="utf-8">
    $(function () { var owl1 = $('.slides_thuonghieu'); owl1.owlCarousel({ loop: true, nav: true, margin: 0, paginationNumbers: true, navigation: true, autoplay: true, autoplayTimeout: 4000, smartSpeed: 2000, responsive: { 0: { items: 1 }, 600: { items: 4 }, 1000: { items: 6 } } }); });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('nav#menu').mmenu({
            counters: true,
            offCanvas: {
                position: "right"
            },
            extensions: ['effect-slide-menu', 'pageshadow']
        });
        $('.tpl-header-tool').scrollToFixed({
            top: 0,
            limit: $('.tpl-header-tool').offset().bottom
        });
    });</script>

@*<script src="http://www.phanphucthanh.vn/WebResource.axd?d=QkUHqH0QlvCJjnBvQX0BdTIBZV7QLxyW6KBoI7HDkssl7qMrHuiXxGEmYFirrSHya--o3r8dudSbUkjRUp_-uMCwSicRVYQp0g4rlvX53qA1&amp;t=635802961220000000" type="text/javascript"></script>
<script src="http://www.phanphucthanh.vn/lib/jQuery/Plugins/maskinput/maskedinput.js" type="text/javascript"></script>
<script src="http://www.phanphucthanh.vn/lib/jQuery/Plugins/jquery-ui/jquery-ui.js" type="text/javascript"></script>
<script src="http://www.phanphucthanh.vn/WebPart/Account/accountbase.js" type="text/javascript"></script>
<script src="http://www.phanphucthanh.vn/WebPart/ECommerce/Products/productbase.js" type="text/javascript"></script>*@
